.box {
    height: 100vh;
}
h1 {
    color: #fff;
}
/* extra small */
@media screen and (max-width: 576px) {
    .box {
        background-color: purple;
    }
    .screen::after {
        content: 'extra-small';
    }
}

/* small */
@media screen and (min-width: 576px) {
    .box {
        background-color: red;
    }
    .screen::after {
        content: 'small';
    }
}

/* medium */
@media screen and (min-width: 768px) {
    .box {
        background-color: blue;
    }
    .screen::after {
        content: 'medium';
    }
}

/* large */
@media screen and (min-width: 992px) {
    .box {
        background-color: green;
    }
    .screen::after {
        content: 'large';
    }
}
/* extra large */
@media screen and (min-width: 1200px) {
    .box {
        background-color: blueviolet;
    }
    .screen::after {
        content: 'extra-large';
    }
}