@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo-image > img  {
    width: 50px;
}
nav {
    background-color: #1f1e1e;
    /* padding: 0 20px; */
}
.nav-links > a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.nav-links > a:hover {
    color: #c3c1c1;
    /* scale: 1.1; */
}
.login-button > button {
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #3299d9;
    font-weight: bold;
}
.login-button > button:hover {
    background-color: #197cb9;
    scale: 1.1;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
}
.large-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.small-screen {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.small-screen > img {
    width: 30px;
}

/* main section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 100px;
}
.text-section {
    width: 50vw;
}
.text-section > h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-style: normal;
}
.text-section > h1 {
    font-size: 60px;
    color: #3299d9;
    margin: 0;
    padding-left: 10px;
}
.text-section > h4 {
    font-size: 20px;
    color: #3299d9;
}
.sponsor-images > img {
    width: 60%;
    margin-bottom: 20px;
}
.text-section-para {
    width: 70%;
}

main > video {
    width: 40vw;
}

/* Features Section */
.features-section {
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 50px;
    padding: 50px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
}
.features-section > h1 {
    font-size: 40px;
    font-weight: normal;
    color: #3299d9;
    margin: 0;
}
.features-section > p {
    margin: 0;
    font-size: 25px;
}


/* Footer Section */
footer {
    background-color: #1f1e1e;
    color: #808080;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
.footer-section > h3 {
    color: #fff;
}
.footer-section > a {
    text-decoration: none;
    color: #808080;
    display: block;
    margin-bottom: 20px;
}
.footer-section > a:hover {
    color: #c3c1c1;
}
.about-onecard > p {
    width: 300px;
    line-height: 2;
}

input[type="email"] {
    width: 200px;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-weight: normal;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons > button {
    width: 220px;
    border: none;
    border-radius: 5px;
    background-color: #3299d9;
    padding: 10px;
    color: #fff;
}

/* Responsive CSS */
@media screen and (max-width: 576px) {
    /* nav section */
    .large-screen {
        display: none;
    }
    .small-screen  {
        display: flex;
    }
    /* main section */
    main {
        flex-direction: column;
        margin: 0;
        justify-content: flex-start;
    }
    .text-section {
        width: 80vw;
    }
    .text-section > h1 {
        font-size: 50px;
    }
    .text-section > h3 {
        font-size: 20px;
    }
    .text-section > h4 {
        font-size: 16px;
    }
    .text-section-para {
        width: 100%;
    }
    .sponsor-images > img {
        width: 80%;
    }
    main > video {
        width: 100%;
    }

    /* Features Section */
    .features-section {
        background-color: #fff;
    }
    .features-section > h1 {
        line-height: 1;
        margin-bottom: 20px;
    }
    .features-section > p {
        color: #000;
    }

    /* Footer Section */
    footer {
        flex-direction: column;
    }
}@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo-image > img  {
    width: 50px;
}
nav {
    background-color: #1f1e1e;
    /* padding: 0 20px; */
}
.nav-links > a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.nav-links > a:hover {
    color: #c3c1c1;
    /* scale: 1.1; */
}
.login-button > button {
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #3299d9;
    font-weight: bold;
}
.login-button > button:hover {
    background-color: #197cb9;
    scale: 1.1;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
}
.large-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.small-screen {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.small-screen > img {
    width: 30px;
}

/* main section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 100px;
}
.text-section {
    width: 50vw;
}
.text-section > h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-style: normal;
}
.text-section > h1 {
    font-size: 60px;
    color: #3299d9;
    margin: 0;
    padding-left: 10px;
}
.text-section > h4 {
    font-size: 20px;
    color: #3299d9;
}
.sponsor-images > img {
    width: 60%;
    margin-bottom: 20px;
}
.text-section-para {
    width: 70%;
}

main > video {
    width: 40vw;
}

/* Features Section */
.features-section {
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 50px;
    padding: 50px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
}
.features-section > h1 {
    font-size: 40px;
    font-weight: normal;
    color: #3299d9;
    margin: 0;
}
.features-section > p {
    margin: 0;
    font-size: 25px;
}


/* Footer Section */
footer {
    background-color: #1f1e1e;
    color: #808080;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
.footer-section > h3 {
    color: #fff;
}
.footer-section > a {
    text-decoration: none;
    color: #808080;
    display: block;
    margin-bottom: 20px;
}
.footer-section > a:hover {
    color: #c3c1c1;
}
.about-onecard > p {
    width: 300px;
    line-height: 2;
}

input[type="email"] {
    width: 200px;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-weight: normal;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons > button {
    width: 220px;
    border: none;
    border-radius: 5px;
    background-color: #3299d9;
    padding: 10px;
    color: #fff;
}

/* Responsive CSS */
@media screen and (max-width: 576px) {
    /* nav section */
    .large-screen {
        display: none;
    }
    .small-screen  {
        display: flex;
    }
    /* main section */
    main {
        flex-direction: column;
        margin: 0;
        justify-content: flex-start;
    }
    .text-section {
        width: 80vw;
    }
    .text-section > h1 {
        font-size: 50px;
    }
    .text-section > h3 {
        font-size: 20px;
    }
    .text-section > h4 {
        font-size: 16px;
    }
    .text-section-para {
        width: 100%;
    }
    .sponsor-images > img {
        width: 80%;
    }
    main > video {
        width: 100%;
    }

    /* Features Section */
    .features-section {
        background-color: #fff;
    }
    .features-section > h1 {
        line-height: 1;
        margin-bottom: 20px;
    }
    .features-section > p {
        color: #000;
    }

    /* Footer Section */
    footer {
        flex-direction: column;
    }
}