* {
    padding: 0;
    margin: 0;
}
header > h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.child > img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border:  3px solid #000;
}

/* Responsive CSS */
@media screen and (max-width:  576px) {
    .parent {
        row-gap: 5px;
        column-gap: 0;
    }
    .child > img {
        width: 95vw;
    }
}